@import "../../style/colors.scss";

.Cover { 
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  

  * {
    text-transform: uppercase;
    letter-spacing: 5px;
    
  }

  .inner-content {
    .aligned {
      width: 100%;
      > div {
        display: inline-block;
        margin-bottom: 13vh;
      }
    }
  }

  $height1: 13vh;
  $height2: 18vh;

  .triangles {
      
    > div:nth-child(1) {
      right: $height1/2;
      margin-top: 25px;
    }
    
    > div:nth-child(2) {
      left: - ($height2/2 - $height1/2);
    }

    .left, 
    .right {
      border-color: $theme-darker-secondary;
    }

    .base {
      border-color: $theme-lighter;
    }
  }
  
}