@import "../../style/colors.scss";

// Vertical space between sections
$vertical-space: 10vh;
// Vertical space between section title and content
$vspace-inside: 5vh;

section {
  margin-top: $vertical-space;

  .section-title {
    margin: 0;
  }

  .section-content {
    margin-top: $vspace-inside;
  }
}