@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Montserrat:extra-light');

@import "basic_definitions.scss";
$fa-font-path: "~font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome";

@import "../node_modules/compass-mixins/lib/compass/_css3";

body {
  font-size: 12px; 
}

@media (min-width: 800px) {
  body {
    font-size: 14px; 
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 16px; 
  }
}



.App {

  background: url('/back/waves-2.png');

  /* Text and Fonts */

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  

  h1 {
    font-family: 'Cabin Sketch';
    font-size: 3em;
  }

  h2 {
    font-family: 'Cabin Sketch';
    font-weight: 100;
    font-size: 2em;
    text-decoration: underline;
  }

  h1,h2,h3,h4,h5 {
    color: $theme-darker-primary;
  }

  .Cover {
    h2 {
      font-family: 'Montserrat', sans-serif;
      text-decoration: none;
    }
  }
  
  /* Layout */

  .inner {
    @media (max-width: 650px) {
      margin-left: 5%; 
      margin-right: 5%; 
    }

    @media (min-width: 650px) and (max-width: 800px) {
      margin-left: 10%; 
      margin-right: 10%; 
    }

    @media (min-width: 800px) and (max-width: 900px) {
      margin-left: 15%; 
      margin-right: 15%; 
    }
  
    @media (min-width: 900px) and (max-width: 1000px) {
      margin-left: 22%; 
      margin-right: 22%; 
    }

    @media (min-width: 1000px) and (max-width: 1100px) {
      margin-left: 25%; 
      margin-right: 25%; 
    }

    @media (min-width: 1100px) and (max-width: 1600px){
      margin-left: 28%; 
      margin-right: 28%; 
    }

    @media (min-width: 1600px){
      margin-left: 30%; 
      margin-right: 30%; 
    }
  }

  // Vertical space between sections
  $vertical-space: 12vh;
  // Vertical space between section title and content
  $vspace-inside: 8vh;

  section {
    
    margin-top: $vertical-space;

    .section-title {
      margin: 0;
    }

    .section-content {
      margin-top: $vspace-inside;
    }

    .intro-card {
      padding-top: $vspace-inside; 

      @media (min-width: 550px) {
        padding-left: 3%; 
        padding-right: 3%; 
      }

    }
  }
   
  /* Section styling */

  #intro {
    margin-top: 0;

    p {
      text-align: justify;  
      margin: 0;
      line-height: 2em;

      span {
        font-size: 1.5em;
        padding-right: 0.5em;
      }
    }
  }

  #contacts {
    p {
      margin: 0;
    }
    strong {
      color: $theme-darker-secondary;
      padding: 1em 0;
      display: block;
    }
  }

  #hobbies {
    ul {
      list-style: none;
      margin: 0px;
      padding-left: 0px;
      padding-right: 0px;
      display: inline-block;
        
      li {
        float: left;
        
        &:not(:last-child):after {
          padding-left: 22px;
          padding-right: 22px;
          content: "\F08A";
          font-family: FontAwesome;
          font-size: 0.5em;
          line-height: 1em;
          padding-bottom: 0.5em;
        }
      }
    }
  }

  #experience {

    $card_width: 400px;
    $spacing: 25px;
    $timelinebreak: 800px;

    /* Layout */
    * {
      @include box-sizing(border-box);
    }

    /* Styling */
    .timeline {
      list-style: none;
      padding-left: 50%;
      padding-right: 50%;
      width: 100%;
      
      // When screen is between a cardwidth the timeline breakpoint, set timeline width as a card width
      @media (min-width: $card_width) and (max-width: $timelinebreak) {
        width: $card_width;
      }
      // When screen is big enough and timeline is right, set timeline width as 2*card width
      @media (min-width: $timelinebreak) {
        width: 2*$card_width;
      }

      display: flex;
      flex-flow: column wrap;
      margin: 0 auto;
      position: relative;

      /* Vertical line when timeline is horizontal */
      @media (min-width: $timelinebreak) {      
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: calc(50% - 1.5px);
          border-left: 3px solid $theme-darker-secondary;
        }
      }

    }

    li:not(:last-child) {
      .timeline-card {
        margin-bottom: 2em;
      }
      @media (min-width: $timelinebreak) {
        .timeline-card {
          margin-bottom: 4em;
        }
      }
    }

    li {

      position: relative;

      /* Icon */
      .timeline-icon {
        width: 1em;
        height: 1em;
        margin-left: -0.5em;
        display: none;

        @media (min-width: $timelinebreak) {

          @include rotate (45deg);  
          background-color: $theme-lighter;
          display: block;        
          
        }
      }

      /* hover */
      &:hover {
        .timeline-card-thumbnail {
          @include box-shadow(inset 40em 0 0 0 $theme-darker-secondary);
        }
      }

      .timeline-card {

        /* Card Layout */
      
        // By default, card takes (almost) all the screen
        width: 96vw;
        margin-left: -48vw;

        // As soon as card width fits the screen, set its width and margin
        @media (min-width: $card_width){
          width: $card_width;
          margin-left: -($card_width/2);
        }

        // By default, display regular card with padding justified text
        z-index: 2;
        background: url('/back/waves.png');
        padding-top: calc(#{$spacing} - 12px);
        padding-bottom: calc(#{$spacing} - 12px);
        //border: 1px solid $theme-darker-secondary;
        //border-radius: 3px;
        
        * {
          text-align: justify;
        }

        // When timeline is large, margin top to align with icon and align odd and even cards to left and right sides
        @media (min-width: $timelinebreak) {
          margin-top: -2em;   

          background: none;
          padding-top: 0px;
          padding-bottom: 0px;
          border: none;

          &.odd {
            margin-left: -$card_width;     
            * {
              text-align: right;
            }
          }
          
          &.even {
            margin-left: 0px;
            * {
              text-align: left;
            }
          }
        }

        /* Card content */
        .timeline-card-content {
          margin: 0px 3%;
          @media (min-width: $timelinebreak) {
            margin: 0px 6%;
          }
        }

        /* Card thumbnail */
        .timeline-card-thumbnail {
          @include transition(box-shadow 0.5s ease-in 0.1s);
          color: white;
          font-size: 0.75em;
          
          background-color: $theme-lighter;
          @include box-shadow(inset 0 0 0 0em #ef795a);
          display: inline-block;
          margin-bottom: 1.2em;
          padding: 0.25em 1em 0.2em 1em;
        }

      }
    
    }
  }

  #footer {
    margin-top: 0px;
    color: $theme-basic-white;
    background-color: $theme-basic-black;
    div {
      padding: 0.5vh;
    }
  }

}

.transition {
  height: 60vh;
  width: 0;
  border-left: 4px solid $theme-lighter;
  margin-left: calc(50% - 2px);
  border-image: linear-gradient(
    to bottom,
// Start darker and out of the blue
//        $theme-lighter-primary 5%,
//        $theme-lighter 65%,
// Fade in:
    rgba($theme-lighter, 0),
    $theme-lighter 25%,
    $theme-lighter 65%,
// Disapear:
    $theme-lighter
// Fade out:
//        $theme-lighter 65%,
//        rgba($theme-lighter, 0)
  ) 1 100%;

  @media (min-height: 400px) and (max-height: 500px) {
    margin-top: -5vh;
  }

  @media (min-height: 500px) and (max-height: 900px) {
    margin-top: -10vh;
  }

  @media (min-height: 900px) {
    margin-top: -20vh;
  }

}


