/*
 * Color variables
 */
$theme-darker-primary: #21271a; // #2D3B20;
$theme-darker-secondary: #2D3B20; // #4D5C3E;

$theme-lighter: #A6B19C; //#787e73;

$theme-basic-black: #171717;
$theme-basic-white: #d0d0cb;

